@use "../scss/index" as *;
.confirmed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 70vh;
  margin: 100px auto;
  max-width: 500px;
  h2 {
    font-family: $primary-font;
    font-size: 62px;
    line-height: 1.2;
    color: $base-color;
    font-weight: 700;
  }
  .text {
    font-family: $sec-font;
    font-size: 20px;
    line-height: 1.2;
    color: $dark;
    b {
      font-weight: 700;
    }
  }
}
