@use "../scss/index" as *;

header {
  background-color: #fff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    .logo {
      flex-shrink: 0;
      width: 200px;
      height: auto;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .menu-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Karla", Arial, Helvetica, sans-serif;
      font-weight: 700;
      .menu {
        display: flex;
        align-items: center;
        gap: 25px;
        li {
          position: relative;
          font-size: 16px;
          line-height: 28px;
          a {
            text-decoration: none;
            outline: none;
            color: $dark;
          }
          cursor: pointer;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
            background-color: $accent-color;
          }

          &:hover::before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
            transition: transform 0.3s;
          }
        }
      }
      .cta {
        max-width: 130px;
        width: 100%;
        padding: 15px 30px;
        color: $white;
        background-color: $base-color;
        border-radius: 30px;
        border: none;
        transition: background 0.15s ease-in;
        cursor: pointer;
        margin: 0 0 0 25px;

        &:hover {
          background-color: $accent-color;
          color: $dark;
          border: none;
          transition: background 0.15s ease-in;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  header {
    .header-wrap {
      .menu-items {
        .menu {
          gap: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 749px) {
  header {
    .header-wrap {
      .menu-items {
        display: none;
      }
    }
  }
}
