@use "../scss/index" as *;
.hero-section {
  background-color: $base-color;
  margin: 0 0 80px 0;

  .hero-section-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text-content {
      flex: 0 1 50%;
      padding: 40px 0;
      h2 {
        font-size: 72px;
        line-height: 1.2s;
        font-family: $primary-font;
        font-weight: 700;
        color: $accent-color;
      }
      h3 {
        font-family: $primary-font;
        font-size: 42px;
        line-height: 1.2;
        font-weight: 500;
        color: $white;
      }
      .desc {
        font-family: $sec-font;
        font-size: 18px;
        line-height: 1.4;
        color: $white;
        margin: 20px 0 40px 0;
      }
      .cta {
        display: inline-block;
        padding: 15px 35px;
        background-color: $accent-color;
        font-family: $sec-font;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        border-radius: 40px;
        color: $base-color;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-5px);
          background-color: $base-color;
          color: $accent-color;
          box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
          transition: all 0.2s;
        }
      }
    }
    .image-wrap {
      flex: 1 1 50%;
      margin: 0 0 -60px 0;
      border-radius: 16px;
      max-width: 350px;
      justify-self: center;
      height: 400px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 749px) {
  .hero-section {
    .hero-section-wrap {
      flex-direction: column;
      .image-wrap {
        flex: unset;
        width: 100%;
        max-width: unset;
        height: 350px;
      }
    }
  }
}
