@use "../scss/index" as *;

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 100px auto;
  svg {
    width: 150px;
    height: 150px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    path {
      fill: $accent-color;
    }
  }
  .text {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: 700;
    color: $base-color;
  }
}
