.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1160px;
}
html,
body {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
img {
  user-select: none;
  pointer-events: none;
}
a {
  text-decoration: none;
  outline: none;
}
